// text colors
$maint-text-color-light: #ffffff;
$maint-text-color-dark: #000000;

$secondary-text-color: #907e82;

// bg colors

$main-bg-color: #ffffff;
$secondary-bg-color: #fff5f6;
$secondary-bg-color-pink: #ffb8ca;

$modal-bg-color: #e17992;


// accent colors
$main-accent-color: #d41443;
$main-accent-color-darker: #c7133e;

$secondary-accent-color-pink: #ffa5ba;
$secondary-accent-color-yellow: #f0d1a5;
$secondary-accent-color-green: #c2e297;

// border colors
$border-color: #e1e1e1;

//transition-function
$cubic: cubic-bezier(0.4, 0, 0.2, 1);
