<div class="modal modal--about modal--hidden" data-modal-about>
  <button type="button" class="about-modal__close-btn" data-modal-close data-content="about">
    <svg class="about-modal__close-icon icon" width="18" height="18">
      <use href="images/icons.svg#icon-close"></use>
    </svg>
  </button>
  <h2 class="about-modal__title section__label">The Manufacturing Process</h2>

  <ul class="about-modal__list">
    <li class="about-modal__item">
      <h3 class="about-modal__card-title">Mixture processing</h3>
      <div class="about_modal__card">
        <div class="about-modal__card-thumb">
          <picture class="about-modal__image">
            <source
              srcset="
                images/about-modal/about-modal-1-1200.jpg    1x,
                images/about-modal/about-modal-1-1200@2x.jpg 2x
              "
              media="(min-width:1200px)"
            />
            <source
              srcset="
                images/about-modal/about-modal-1-768.jpg    1x,
                images/about-modal/about-modal-1-768@2x.jpg 2x
              "
              media="(min-width:768px)"
            />
            <source
              srcset="
                images/about-modal/about-modal-1-320.jpg    1x,
                images/about-modal/about-modal-1-320@2x.jpg 2x
              "
              media="(min-width:320px)"
            />
            <img src="images/about-modal/about-modal-1-1200.jpg " alt="" />
          </picture>
          <p class="about-modal__overlay">
            Processing includes filtration, pasteurization and homogenization. The processing of the
            mixture takes place in a thin layer and in a continuous flow, without air access, which
            ensures high pasteurization efficiency, preservation of aromatic substances, as well as
            vitamins. Pasteurization is carried out at a temperature of 85°C with a holding time of
            50-60 s.
          </p>
        </div>
      </div>
    </li>
    <li class="about-modal__item">
      <h3 class="about-modal__card-title">Cooling and maturation of the mixture</h3>
      <div href="" class="about_modal__card">
        <div class="about-modal__card-thumb">
          <picture class="about-modal__image">
            <source
              srcset="
                images/about-modal/about-modal-2-1200.jpg    1x,
                images/about-modal/about-modal-2-1200@2x.jpg 2x
              "
              media="(min-width:1200px)"
            />
            <source
              srcset="
                images/about-modal/about-modal-2-768.jpg    1x,
                images/about-modal/about-modal-2-768@2x.jpg 2x
              "
              media="(min-width:768px)"
            />
            <source
              srcset="
                images/about-modal/about-modal-2-320.jpg    1x,
                images/about-modal/about-modal-2-320@2x.jpg 2x
              "
              media="(min-width:320px)"
            />
            <img src="images/about-modal/about-modal-2-1200.jpg " alt="" />
          </picture>
          <p class="about-modal__overlay">
            The homogenized mixture is quickly cooled to a temperature of 0-6°C and sent to
            capacitive apparatus with a stirrer for maturation and storage of the mixture
          </p>
        </div>
      </div>
    </li>
    <li class="about-modal__item">
      <h3 class="about-modal__card-title">Freezing the mixture</h3>
      <div href="" class="about_modal__card">
        <div class="about-modal__card-thumb">
          <picture class="about-modal__image">
            <source
              srcset="
                images/about-modal/about-modal-3-1200.jpg    1x,
                images/about-modal/about-modal-3-1200@2x.jpg 2x
              "
              media="(min-width:1200px)"
            />
            <source
              srcset="
                images/about-modal/about-modal-3-768.jpg    1x,
                images/about-modal/about-modal-3-768@2x.jpg 2x
              "
              media="(min-width:768px)"
            />
            <source
              srcset="
                images/about-modal/about-modal-3-320.jpg    1x,
                images/about-modal/about-modal-3-320@2x.jpg 2x
              "
              media="(min-width:320px)"
            />
            <img src="images/about-modal/about-modal-3-1200.jpg " alt="" />
          </picture>
          <p class="about-modal__overlay">
            During freezing, the mixture is saturated with air while partial freezing. As a result,
            a new phase is formed, separated by interlayers of liquid phases. The structure and
            consistency depend on the correctness of this process. finished product
          </p>
        </div>
      </div>
    </li>
    <li class="about-modal__item">
      <h3 class="about-modal__card-title">Packing and hardening of ice cream</h3>
      <div href="" class="about_modal__card">
        <div class="about-modal__card-thumb">
          <picture class="about-modal__image">
            <source
              srcset="
                images/about-modal/about-modal-4-1200.jpg    1x,
                images/about-modal/about-modal-4-1200@2x.jpg 2x
              "
              media="(min-width:1200px)"
            />
            <source
              srcset="
                images/about-modal/about-modal-4-768.jpg    1x,
                images/about-modal/about-modal-4-768@2x.jpg 2x
              "
              media="(min-width:768px)"
            />
            <source
              srcset="
                images/about-modal/about-modal-4-320.jpg    1x,
                images/about-modal/about-modal-4-320@2x.jpg 2x
              "
              media="(min-width:320px)"
            />
            <img src="images/about-modal/about-modal-4-1200.jpg " alt="" />
          </picture>
          <p class="about-modal__overlay">
            The ice cream coming out of the freezer is quickly packaged and immediately sent for
            hardening, since with a delay, part of the crystallized water will be able to thaw,
            which in the future leads to the formation of large ice crystals
          </p>
        </div>
      </div>
    </li>
  </ul>
</div>
