<section class="section about">
  <div class="container">
    <span class="section__label">tradition and love</span>
    <h2 class="section__title">How it’s made?</h2>
    <div class="about__content">
      <picture>
        <source
          srcset="images/about-pic_1200.png 1x, images/about-pic_1200@2x.png 2x"
          media="(min-width:1200px)"
        />
        <source
          srcset="images/about-pic_768.png 1x, images/about-pic_768@2x.png 2x"
          media="(min-width:768px)"
        />
        <source
          srcset="images/about-pic_320.png 1x, images/about-pic_320@2x.png 2x"
          media="(min-width:320px)"
        />
        <img class="about__image" src="images/about-pic_1200.png" alt="корова и графин" />
      </picture>

      <div class="about__text--wraper">
        <p class="about__text about__text--black">
          Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus
          lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.
        </p>
        <p class="about__text about__text--gray">
          Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci
          in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna
          maximus. Cras massa nibh, tincidunt.
        </p>

        <p class="about__text about__text--gray">Aliquam erat volutpat. Aenean accumsan.</p>
        <button
          class="button button--main button--large"
          type="button"
          data-modal-open
          data-content="about"
        >
          Read more
          <svg class="icon button__icon button__icon--append" width="4" height="8">
            <use href="images/icons.svg#chevron-right"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
