<section class="section advantages">
  <div class="container">
    <h2 class="section__title visually-hidden">Advantages</h2>
    <ul class="advantages__list">
      <li class="advantages__item advantages__item--1">
        <p class="advantages__amount"><span>7</span><span>2</span><span>1</span></p>
        <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
      <li class="advantages__item advantages__item--2">
        <p class="advantages__amount"><span>1</span><span>6</span><span>k</span><span>g</span></p>
        <p class="advantages__text"><span>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</span></p>
      </li>
      <li class="advantages__item advantages__item--3">
        <p class="advantages__amount"><span>8</span><span>4</span></p>
        <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
    </ul>
  </div>
</section>