<section class="section">
  <h2 class="section__title visually-hidden">Advantages</h2>
  <ul class="advantages__list">
    <li class="advantages__item">
      <p class="advantages__amount">721</p>
      <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
    </li>
    <li class="advantages__item">
      <p class="advantages__amount">16kg</p>
      <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
    </li>
    <li class="advantages__item">
      <p class="advantages__amount">84</p>
      <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
    </li>
  </ul>
</section>