<section id="contacts" class="contacts section">
  <div class="container">
    <h2 class="section__title visually-hidden">Contacts</h2>
    <ul class="local">
      <li class="local__item">
        <span class="local__place">CAFE</span>
        <p class="local__city">Chicago</p>
        <p class="local__descr">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        <div class="local__line"></div>
        <p class="local__day">Monday - Friday</p>
        <p class="local__time">06:00 AM - 10:00 PM</p>
        <p class="local__day">Saturday - Sunday</p>
        <p class="local__time">08:00 AM - 16:00 PM</p>
        <div class="local__line"></div>
        <a href="tel:+610383766284" class="local__tel">+61(0) 383 766 284</a>
        <a href="mailto:noreply@envato.com" class="local__mail">noreply@envato.com</a>
      </li>
      <li class="local__item">
        <span class="local__place local__place--green">FOOD TRUCK</span>
        <p class="local__city">Los Angeles</p>
        <p class="local__descr">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        <div class="local__line"></div>
        <p class="local__day">Monday - Friday</p>
        <p class="local__time">06:00 AM - 10:00 PM</p>
        <p class="local__day">Saturday - Sunday</p>
        <p class="local__time">08:00 AM - 16:00 PM</p>
        <div class="local__line"></div>
        <a href="tel:+610383766284" class="local__tel">+61(0) 383 766 284</a>
        <a href="mailto:noreply@envato.com" class="local__mail">noreply@envato.com</a>
      </li>
      <li class="local__item">
        <span class="local__place">CAFE</span>
        <p class="local__city">New York</p>
        <p class="local__descr">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        <div class="local__line"></div>
        <p class="local__day">Monday - Friday</p>
        <p class="local__time">06:00 AM - 10:00 PM</p>
        <p class="local__day">Saturday - Sunday</p>
        <p class="local__time">08:00 AM - 16:00 PM</p>
        <div class="local__line"></div>
        <a href="tel:+610383766284" class="local__tel">+61(0) 383 766 284</a>
        <a href="mailto:noreply@envato.com" class="local__mail">noreply@envato.com</a>
      </li>
    </ul>
    <ul class="local-button">
      <li class="local-button__item">
        <button class="button button--large button--accent">Our Locations
          <svg class="icon button__icon button__icon--append">
            <use href="./images/icons.svg#chevron-right"></use>
          </svg>
        </button>
      </li>
      <li class="local-button__item">
        <button class="button button--large button--main">Franchise
          <svg class="icon button__icon button__icon--append">
            <use href="./images/icons.svg#chevron-right"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
