<section id="contacts" class="contacts section">
  <div class="container">
    <h2 class="section__title visually-hidden">Contacts</h2>
    <ul class="local">
      <li class="local__item">
        <span class="local__place">CAFE</span>
        <div class="local-top local__text">
          <p class="local-top__city local__text local__text--black">Chicago</p>
          <p class="local-top__descr local__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        </div>
        <ul class="local-schedule">
          <li class="local__text local__text--black">Monday - Friday</li>
          <li class="local__text local__text--pink">06:00 AM - 10:00 PM</li>
          <li class="local__text local__text--black">Saturday - Sunday</li>
          <li class="local__text local__text--pink">08:00 AM - 16:00 PM</li>
        </ul>
        <div class="local-contacts">
          <a href="tel:+610383766284" class="local-contacts__link local__text">+61(0) 383 766 284</a>
          <a href="mailto:noreply@envato.com" class="local-contacts__link local__text">noreply@envato.com</a>
        </div>
      </li>
      <li class="local__item">
        <span class="local__place local__place--green">FOOD TRUCK</span>
        <div class="local-top local__text">
          <p class="local-top__city local__text local__text--black">Los Angeles</p>
          <p class="local-top__descr local__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        </div>
        <ul class="local-schedule">
          <li class="local__text local__text--black">Monday - Friday</li>
          <li class="local__text local__text--pink">06:00 AM - 10:00 PM</li>
          <li class="local__text local__text--black">Saturday - Sunday</li>
          <li class="local__text local__text--pink">08:00 AM - 16:00 PM</li>
        </ul>
        <div class="local-contacts">
          <a href="tel:+610383766284" class="local-contacts__link local__text">+61(0) 383 766 284</a>
          <a href="mailto:noreply@envato.com" class="local-contacts__link local__text">noreply@envato.com</a>
        </div>
      </li>
      <li class="local__item">
        <span class="local__place">CAFE</span>
        <div class="local-top local__text">
          <p class="local-top__city local__text local__text--black">New York</p>
          <p class="local-top__descr local__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        </div>
        <ul class="local-schedule">
          <li class="local__text local__text--black">Monday - Friday</li>
          <li class="local__text local__text--pink">06:00 AM - 10:00 PM</li>
          <li class="local__text local__text--black">Saturday - Sunday</li>
          <li class="local__text local__text--pink">08:00 AM - 16:00 PM</li>
        </ul>
        <div class="local-contacts">
          <a href="tel:+610383766284" class="local-contacts__link local__text">+61(0) 383 766 284</a>
          <a href="mailto:noreply@envato.com" class="local-contacts__link local__text">noreply@envato.com</a>
        </div>
      </li>
    </ul>
    <div class="local-button">
      <button class="button button--large button--accent" data-modal-open data-content="location">Our Locations
        <svg class="icon button__icon button__icon--append">
          <use href="./images/icons.svg#chevron-right"></use>
        </svg>
      </button>
      <button class="button button--large button--main" data-modal-open data-content="franchise">Franchise
        <svg class="icon button__icon button__icon--append">
          <use href="./images/icons.svg#chevron-right"></use>
        </svg>
      </button>
    </div>
  </div>
</section>