<section class="contacts">
  <ul class="contact">
    <li class="contact__item">
      <p class="contact__place">CAFE</p>
      <p class="contact__city">Chicago</p>
      <p class="contact__descr">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
      <p class="contact__day">Monday - Friday</p>
      <p class="contact__time">06:00 AM - 10:00 PM</p>
      <p class="contact__day">Saturday - Sunday</p>
      <p class="contact__time">08:00 AM - 16:00 PM</p>
      <a href="tel:+610383766284" class="contact__tel">+61(0) 383 766 284</a>
      <a href="mailto:noreply@envato.com" class="contact__mail">noreply@envato.com</a>
    </li>
    <li class="contact__item">
      <p class="contact__place">FOOD TRUCK</p>
      <p class="contact__city">Los Angeles</p>
      <p class="contact__descr">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
      <p class="contact__day">Monday - Friday</p>
      <p class="contact__time">06:00 AM - 10:00 PM</p>
      <p class="contact__day">Saturday - Sunday</p>
      <p class="contact__time">08:00 AM - 16:00 PM</p>
      <a href="tel:+610383766284" class="contact__tel">+61(0) 383 766 284</a>
      <a href="mailto:noreply@envato.com" class="contact__mail">noreply@envato.com</a>
    </li>
    <li class="contact__item">
      <p class="contact__place">CAFE</p>
      <p class="contact__city">New York</p>
      <p class="contact__descr">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
      <p class="contact__day">Monday - Friday</p>
      <p class="contact__time">06:00 AM - 10:00 PM</p>
      <p class="contact__day">Saturday - Sunday</p>
      <p class="contact__time">08:00 AM - 16:00 PM</p>
      <a href="tel:+610383766284" class="contact__tel">+61(0) 383 766 284</a>
      <a href="mailto:noreply@envato.com" class="contact__mail">noreply@envato.com</a>
    </li>
  </ul>
  <button class="contact__button" type="button">Our Locations</button>
  <button class="contact__button" type="button">Franchise</button>
</section>
