    <div class="modal franchise-modal" data-modal-franchise data-modal>
        <button type="button" class="franchise-modal__close-button"  data-modal-close data-content="franchise">
            <svg class="" width="11" height="11">
                <use href="images/icons.svg#close"></use>
            </svg>
        </button>
        <p class="franchise-modal__title">franchise direct</p>
        <p class="franchise-modal__text">log in to the client area</p>
        <p class="franchise-modal__second-text">Enter your details below</p>
        <form class="franchise-modal__form">
            <label for="email" class="franchise-modal__label">
                Email address
                <input 
                type="email" 
                name="email"
                class="franchise-modal__input" 
                />
            </label>
            <label for="password" class="franchise-modal__label">
                Password
                <input 
                type="password" 
                name="password"
                class="franchise-modal__input" />
            </label>
            <button type="submit" class="franchise-modal__btn">Log in</button>
        </form>
        </div>