<div class="backdrop">
    <div class="modal">
        <button type="button" class="">
            <svg class="" width="" height="">
                <use href=""></use>
            </svg>
        </button>
        <p class="franchise-modal__title">franchise direct</p>
        <p class="franchise-modal__text">log in to the client area</p>
        <p class="franchise-modal__second-text">Enter your details below</p>
        <form class="">
            <label>
                Email address
                <input type="email" name="email" />
            </label>
            <label>
                Password
                <input type="password" name="password" />
            </label>
            <button type="submit">Log in</button>
        </form>
    </div>
</div>