<section class="section gallery">
  <div class="container">
    <h2 class="section__title visually-hidden">Gallery</h2>
    <div class="gallery__grid">
      <div class="gallery__item gallery__item-1" data-row="2">
        <picture>
          <!-- <source
            srcset="images/about-pic_1200.png 1x, images/about-pic_1200@2x.png 2x"
            media="(min-width:1200px)"
          />
          <source
            srcset="images/about-pic_768.png 1x, images/about-pic_768@2x.png 2x"
            media="(min-width:768px)"
          />
          <source
            srcset="images/about-pic_320.png 1x, images/about-pic_320@2x.png 2x"
            media="(min-width:320px)"
          /> -->
          <img class="gallery__image" src="images/demo.jpg" alt="icecream" />
        </picture>
      </div>
      <div class="gallery__item gallery__item-2 shift-y">
        <picture>
          <!-- <source
            srcset="images/about-pic_1200.png 1x, images/about-pic_1200@2x.png 2x"
            media="(min-width:1200px)"
          />
          <source
            srcset="images/about-pic_768.png 1x, images/about-pic_768@2x.png 2x"
            media="(min-width:768px)"
          />
          <source
            srcset="images/about-pic_320.png 1x, images/about-pic_320@2x.png 2x"
            media="(min-width:320px)"
          /> -->
          <img class="gallery__image" src="images/demo.jpg" alt="icecream" />
        </picture>
      </div>
      <div class="gallery__item gallery__item--large">
        <picture>
          <!-- <source
            srcset="images/about-pic_1200.png 1x, images/about-pic_1200@2x.png 2x"
            media="(min-width:1200px)"
          />
          <source
            srcset="images/about-pic_768.png 1x, images/about-pic_768@2x.png 2x"
            media="(min-width:768px)"
          />
          <source
            srcset="images/about-pic_320.png 1x, images/about-pic_320@2x.png 2x"
            media="(min-width:320px)"
          /> -->
          <img class="gallery__image" src="images/demo.jpg" alt="icecream" />
        </picture>
      </div>
      <div class="gallery__item gallery__item-4 shift-y shift-y--large">
        <picture>
          <!-- <source
            srcset="images/about-pic_1200.png 1x, images/about-pic_1200@2x.png 2x"
            media="(min-width:1200px)"
          />
          <source
            srcset="images/about-pic_768.png 1x, images/about-pic_768@2x.png 2x"
            media="(min-width:768px)"
          />
          <source
            srcset="images/about-pic_320.png 1x, images/about-pic_320@2x.png 2x"
            media="(min-width:320px)"
          /> -->
          <img class="gallery__image" src="images/demo.jpg" alt="icecream" />
        </picture>
      </div>
      <div class="gallery__item gallery__item-5 shift-y shift-y--small">
        <picture>
          <!-- <source
            srcset="images/about-pic_1200.png 1x, images/about-pic_1200@2x.png 2x"
            media="(min-width:1200px)"
          />
          <source
            srcset="images/about-pic_768.png 1x, images/about-pic_768@2x.png 2x"
            media="(min-width:768px)"
          />
          <source
            srcset="images/about-pic_320.png 1x, images/about-pic_320@2x.png 2x"
            media="(min-width:320px)"
          /> -->
          <img class="gallery__image" src="images/demo.jpg" alt="icecream" />
        </picture>
      </div>
      <div class="gallery__item gallery__item-6">
        <picture>
          <!-- <source
            srcset="images/about-pic_1200.png 1x, images/about-pic_1200@2x.png 2x"
            media="(min-width:1200px)"
          />
          <source
            srcset="images/about-pic_768.png 1x, images/about-pic_768@2x.png 2x"
            media="(min-width:768px)"
          />
          <source
            srcset="images/about-pic_320.png 1x, images/about-pic_320@2x.png 2x"
            media="(min-width:320px)"
          /> -->
          <img class="gallery__image" src="images/demo.jpg" alt="icecream" />
        </picture>
      </div>
      <div class="gallery__item gallery__item-7 shift-y">
        <picture>
          <!-- <source
            srcset="images/about-pic_1200.png 1x, images/about-pic_1200@2x.png 2x"
            media="(min-width:1200px)"
          />
          <source
            srcset="images/about-pic_768.png 1x, images/about-pic_768@2x.png 2x"
            media="(min-width:768px)"
          />
          <source
            srcset="images/about-pic_320.png 1x, images/about-pic_320@2x.png 2x"
            media="(min-width:320px)"
          /> -->
          <img class="gallery__image" src="images/demo.jpg" alt="icecream" />
        </picture>
      </div>
      <div class="gallery__item gallery__item-8 shift-y shift-y--large">
        <picture>
          <!-- <source
            srcset="images/about-pic_1200.png 1x, images/about-pic_1200@2x.png 2x"
            media="(min-width:1200px)"
          />
          <source
            srcset="images/about-pic_768.png 1x, images/about-pic_768@2x.png 2x"
            media="(min-width:768px)"
          />
          <source
            srcset="images/about-pic_320.png 1x, images/about-pic_320@2x.png 2x"
            media="(min-width:320px)"
          /> -->
          <img class="gallery__image" src="images/demo.jpg" alt="icecream" />
        </picture>
      </div>
      <div class="gallery__item gallery__item-9 shift-y shift-y--small">
        <picture>
          <!-- <source
            srcset="images/about-pic_1200.png 1x, images/about-pic_1200@2x.png 2x"
            media="(min-width:1200px)"
          />
          <source
            srcset="images/about-pic_768.png 1x, images/about-pic_768@2x.png 2x"
            media="(min-width:768px)"
          />
          <source
            srcset="images/about-pic_320.png 1x, images/about-pic_320@2x.png 2x"
            media="(min-width:320px)"
          /> -->
          <img class="gallery__image" src="images/demo.jpg" alt="icecream" />
        </picture>
      </div>
      <div class="gallery__item gallery__item-10">
        <picture>
          <!-- <source
            srcset="images/about-pic_1200.png 1x, images/about-pic_1200@2x.png 2x"
            media="(min-width:1200px)"
          />
          <source
            srcset="images/about-pic_768.png 1x, images/about-pic_768@2x.png 2x"
            media="(min-width:768px)"
          />
          <source
            srcset="images/about-pic_320.png 1x, images/about-pic_320@2x.png 2x"
            media="(min-width:320px)"
          /> -->
          <img class="gallery__image" src="images/demo.jpg" alt="icecream" />
        </picture>
      </div>
    </div>
  </div>
</section>
