<section class="section gallery">
  <div class="container">
    <h2 class="section__title visually-hidden">Gallery</h2>
    <div class="gallery__grid">
      <div class="gallery__item gallery__item-1" data-row="2">
        <picture>
          <source
            srcset="
              images/gallery/gallery-img-1_1200.jpg    1x,
              images/gallery/gallery-img-1_1200@2x.jpg 2x
            "
            media="(min-width:1200px)"
          />
          <source
            srcset="
              images/gallery/gallery-img-1_768.jpg    1x,
              images/gallery/gallery-img-1_768@2x.jpg 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              images/gallery/gallery-img-1_320.jpg    1x,
              images/gallery/gallery-img-1_320@2x.jpg 2x
            "
            media="(min-width:320px)"
          />
          <img
            class="gallery__image"
            src="images/gallery/gallery-img-1_1200@2x.jpg"
            alt="icecream"
          />
        </picture>
      </div>
      <div class="gallery__item gallery__item-2 shift-y">
        <picture>
          <source
            srcset="
              images/gallery/gallery-img-2_1200.jpg    1x,
              images/gallery/gallery-img-2_1200@2x.jpg 2x
            "
            media="(min-width:1200px)"
          />
          <source
            srcset="
              images/gallery/gallery-img-2_768.jpg    1x,
              images/gallery/gallery-img-2_768@2x.jpg 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              images/gallery/gallery-img-2_320.jpg    1x,
              images/gallery/gallery-img-2_320@2x.jpg 2x
            "
            media="(min-width:320px)"
          />
          <img
            class="gallery__image"
            src="images/gallery/gallery-img-2_1200@2x.jpg"
            alt="icecream"
          />
        </picture>
      </div>
      <div class="gallery__item gallery__item--large">
        <picture>
          <source
            srcset="
              images/gallery/gallery-img-3_1200.jpg    1x,
              images/gallery/gallery-img-3_1200@2x.jpg 2x
            "
            media="(min-width:1200px)"
          />
          <source
            srcset="
              images/gallery/gallery-img-3_768.jpg    1x,
              images/gallery/gallery-img-3_768@2x.jpg 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              images/gallery/gallery-img-3_320.jpg    1x,
              images/gallery/gallery-img-3_320@2x.jpg 2x
            "
            media="(min-width:320px)"
          />
          <img
            class="gallery__image"
            src="images/gallery/gallery-img-3_1200@2x.jpg"
            alt="icecream"
          />
        </picture>
      </div>
      <div class="gallery__item gallery__item-4 shift-y shift-y--large">
        <picture>
          <source
            srcset="
              images/gallery/gallery-img-4_1200.jpg    1x,
              images/gallery/gallery-img-4_1200@2x.jpg 2x
            "
            media="(min-width:1200px)"
          />
          <source
            srcset="
              images/gallery/gallery-img-4_768.jpg    1x,
              images/gallery/gallery-img-4_768@2x.jpg 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              images/gallery/gallery-img-4_320.jpg    1x,
              images/gallery/gallery-img-4_320@2x.jpg 2x
            "
            media="(min-width:320px)"
          />
          <img
            class="gallery__image"
            src="images/gallery/gallery-img-4_1200@2x.jpg"
            alt="icecream"
          />
        </picture>
      </div>
      <div class="gallery__item gallery__item-5 shift-y shift-y--small">
        <picture>
          <source
            srcset="
              images/gallery/gallery-img-5_1200.jpg    1x,
              images/gallery/gallery-img-5_1200@2x.jpg 2x
            "
            media="(min-width:1200px)"
          />
          <source
            srcset="
              images/gallery/gallery-img-5_768.jpg    1x,
              images/gallery/gallery-img-5_768@2x.jpg 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              images/gallery/gallery-img-5_320.jpg    1x,
              images/gallery/gallery-img-5_320@2x.jpg 2x
            "
            media="(min-width:320px)"
          />
          <img
            class="gallery__image"
            src="images/gallery/gallery-img-5_1200@2x.jpg"
            alt="icecream"
          />
        </picture>
      </div>
      <div class="gallery__item gallery__item-6">
        <picture>
          <source
            srcset="
              images/gallery/gallery-img-6_1200.jpg    1x,
              images/gallery/gallery-img-6_1200@2x.jpg 2x
            "
            media="(min-width:1200px)"
          />
          <source
            srcset="
              images/gallery/gallery-img-6_768.jpg    1x,
              images/gallery/gallery-img-6_768@2x.jpg 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              images/gallery/gallery-img-6_320.jpg    1x,
              images/gallery/gallery-img-6_320@2x.jpg 2x
            "
            media="(min-width:320px)"
          />
          <img
            class="gallery__image"
            src="images/gallery/gallery-img-6_1200@2x.jpg"
            alt="icecream"
          />
        </picture>
      </div>
      <div class="gallery__item gallery__item-7 shift-y">
        <picture>
          <source
            srcset="
              images/gallery/gallery-img-7_1200.jpg    1x,
              images/gallery/gallery-img-7_1200@2x.jpg 2x
            "
            media="(min-width:1200px)"
          />
          <source
            srcset="
              images/gallery/gallery-img-7_768.jpg    1x,
              images/gallery/gallery-img-7_768@2x.jpg 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              images/gallery/gallery-img-7_320.jpg    1x,
              images/gallery/gallery-img-7_320@2x.jpg 2x
            "
            media="(min-width:320px)"
          />
          <img
            class="gallery__image"
            src="images/gallery/gallery-img-7_1200@2x.jpg"
            alt="icecream"
          />
        </picture>
      </div>
      <div class="gallery__item gallery__item-8 shift-y shift-y--large">
        <picture>
          <source
            srcset="
              images/gallery/gallery-img-8_1200.jpg    1x,
              images/gallery/gallery-img-8_1200@2x.jpg 2x
            "
            media="(min-width:1200px)"
          />
          <source
            srcset="
              images/gallery/gallery-img-8_768.jpg    1x,
              images/gallery/gallery-img-8_768@2x.jpg 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              images/gallery/gallery-img-8_320.jpg    1x,
              images/gallery/gallery-img-8_320@2x.jpg 2x
            "
            media="(min-width:320px)"
          />
          <img
            class="gallery__image"
            src="images/gallery/gallery-img-8_1200@2x.jpg"
            alt="icecream"
          />
        </picture>
      </div>
      <div class="gallery__item gallery__item-9 shift-y shift-y--small">
        <picture>
          <source
            srcset="
              images/gallery/gallery-img-9_1200.jpg    1x,
              images/gallery/gallery-img-9_1200@2x.jpg 2x
            "
            media="(min-width:1200px)"
          />
          <source
            srcset="
              images/gallery/gallery-img-9_768.jpg    1x,
              images/gallery/gallery-img-9_768@2x.jpg 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              images/gallery/gallery-img-9_320.jpg    1x,
              images/gallery/gallery-img-9_320@2x.jpg 2x
            "
            media="(min-width:320px)"
          />
          <img
            class="gallery__image"
            src="images/gallery/gallery-img-9_1200@2x.jpg"
            alt="icecream"
          />
        </picture>
      </div>
      <div class="gallery__item gallery__item-10">
        <picture>
          <source
            srcset="
              images/gallery/gallery-img-10_1200.jpg    1x,
              images/gallery/gallery-img-10_1200@2x.jpg 2x
            "
            media="(min-width:1200px)"
          />
          <source
            srcset="
              images/gallery/gallery-img-10_768.jpg    1x,
              images/gallery/gallery-img-10_768@2x.jpg 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              images/gallery/gallery-img-10_320.jpg    1x,
              images/gallery/gallery-img-10_320@2x.jpg 2x
            "
            media="(min-width:320px)"
          />
          <img
            class="gallery__image"
            src="images/gallery/gallery-img-10_1200@2x.jpg"
            alt="icecream"
          />
        </picture>
      </div>
    </div>

    <!-- The Modal -->
    <div class="backdrop backdrop--gallery backdrop--is-hidden" data-backdrop-gallery>
      <div class="modal modal--gallery" class="modal" data-modal-gallery>
        <!-- <span class="close">&times;</span> -->

        <img class="modal__content" data-modal-image />
      </div>
    </div>
  </div>
</section>
