<section class="hero">
  <div class="container hero__container">
    <h1 class="hero__title">ice cream made with <span class="section__title">passion</span></h1>
    <ul class="hero-btn-list">
      <li class="hero-btn-list__item"><button class="button button--main">Products</button></li>
      <li><button class="button button--accent">How it’s made?</button></li>
    </ul>
    <ul class="cafe-list">
      <li class="cafe-list__item">
        <span class="cafe-list__text">16</span>
        <span class="cafe-list__description">cafes</span>
      </li>
      <li class="cafe-list__item">
        <span class="cafe-list__text">23</span>
        <span class="cafe-list__description">food trucks</span>
      </li>
    </ul>

    <p class="hero__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
      labore et
    </p>
    <svg width="18px" height="18px">
      <use></use>
    </svg>
    <picture> </picture>
    <div><picture> </picture></div>
    <picture></picture>
  </div>
</section>
