<div class="modal modal--franchise modal--hidden franchise" data-modal-franchise>
    <button type="button" class="franchise__close-button" data-modal-close data-content="franchise">
        <svg class="franchise__icon" width="15" height="15">
            <use href="images/icons.svg#close"></use>
        </svg>
    </button>
    <p class="franchise__title">franchise direct</p>
    <p class="franchise__text">log in to the client area</p>
    <p class="franchise__second-text">Enter your details below</p>
    <form class="franchise__form">
        <label for="email" class="franchise__label">
            Email address
            <input type="email" name="email" class="franchise__input" />
        </label>
        <label for="password" class="franchise__label">
            Password
            <input type="password" name="password" class="franchise__input" />
        </label>
        <button type="submit" class="franchise__btn">Log in</button>
    </form>
</div>