<div class="modal modal--products modal--hidden products--1" data-modal-products--1>
    <button type="button" class="products__close-button" data-modal-close data-content="products--1">
        <svg class="products__icon" width="15" height="15">
            <use href="images/icons.svg#icon-close"></use>
        </svg>
    </button>
    <p class="products__title">Ice cream</p>
    <p class="products__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>        
    <picture>
        <source srcset="
                    images/products-modal/icecream_1200.png    1x,
                    images/products-modal/icecream_1200@2x.png 2x
                  " media="(min-width:1200px)" />
        <source srcset="
                    images/products-modal/icecream_768.png    1x,
                    images/products-modal/icecream_768@2x.png 2x
                  " media="(min-width:768px)" />
        <source srcset="
                    images/products-modal/icecream_320.png    1x,
                    images/products-modal/icecream_320@2x.png 2x
                  " media="(min-width:320px)" />
        <img src="images/products-modal/icecream_1200.png " alt="icecream" />
    </picture>    
</div>

<div class="modal modal--products modal--hidden products--2" data-modal-products--2>
    <button type="button" class="products__close-button" data-modal-close data-content="products--2">
        <svg class="products__icon" width="15" height="15">
            <use href="images/icons.svg#icon-close"></use>
        </svg>
    </button>
    <p class="products__title">Ice coffee</p>
    <p class="products__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
        ut labore et</p>      
    <picture>
        <source srcset="
                    images/products-modal/icecoffee_1200.png    1x,
                    images/products-modal/icecoffee_1200@2x.png 2x
                  " media="(min-width:1200px)" />
        <source srcset="
                    images/products-modal/icecoffee_768.png    1x,
                    images/products-modal/icecoffee_768@2x.png 2x
                  " media="(min-width:768px)" />
        <source srcset="
                    images/products-modal/icecoffee_320.png    1x,
                    images/products-modal/icecoffee_320@2x.png 2x
                  " media="(min-width:320px)" />
        <img src="images/products-modal/icecoffee_1200.png" alt="icecoffee" class="products__image" />
    </picture>
</div>

<div class="modal modal--products modal--hidden products--2" data-modal-products--3>
    <button type="button" class="products__close-button" data-modal-close data-content="products--3">
        <svg class="products__icon" width="15" height="15">
            <use href="images/icons.svg#icon-close"></use>
        </svg>
    </button>
    <p class="products__title">Milkshakes</p>
    <p class="products__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
        ut labore et</p>
    <picture>
        <source srcset="
                    images/products-modal/milkshake_1200.png    1x,
                    images/products-modal/milkshake_1200@2x.png 2x
                  " media="(min-width:1200px)" />
        <source srcset="
                    images/products-modal/milkshake_768.png    1x,
                    images/products-modal/milkshake_768@2x.png 2x
                  " media="(min-width:768px)" />
        <source srcset="
                    images/products-modal/milkshake_320.png    1x,
                    images/products-modal/milkshake_320@2x.png 2x
                  " media="(min-width:320px)" />
        <img src="images/products-modal/milkshake_1200.png " alt="milkshake" />
    </picture>
</div>