<div class="modal-buy">
    <button class="modal-buy__btnclose" type="button">X</button>
    <button class="modal-buy__btnbuy button" type="button">Buy now   ></button>
    <ul class="modal-buy__list">
        <li class="modal-buy__item"><a href="">Home</a> </li>
        <li class="modal-buy__item"><a href="">About us</a></li>
        <li class="modal-buy__item"><a href="">How it`s made?</a></li>
        <li class="modal-buy__item"><a href="">Our products</a> /li>
        <li class="modal-buy__item"><a href="">Contact</a></li>
    </ul>
</div>