    <div class="modal-buy modal modal--hidden" data-modal-buy>
        <button type="button" class="modal-buy__close" data-modal-close data-content="buy">
            <svg class="icon modal-buy__icon">
                <use href="./images/icons.svg#close"></use>
            </svg>
        </button>
        <p class="modal-buy__title section__title">Choose a product</p>
        <form action="#" class="modal-buy__form">
            <div class="modal-buy__field">

                <label class="modal-buy__label"> 
                    <input type="radio" checked="checked" name="radio">
                    <span>Icecream</span>
                    <img class="modal-buy__img" srcset="./images/prod-1_320.png 1x, ./images/prod-1_320@2x.png 2x" src="./images/prod-1_320.png"
                        alt="icecream" width="180">
                    <span class="modal-buy__checkmark"></span>
                </label>
                <label class="modal-buy__label"> 
                    <input type="radio" name="radio">
                    <span>Icecoffee</span>
                    <img class="modal-buy__img" srcset="./images/prod-2_320.png 1x, ./images/prod-2_320@2x.png 2x" src="./images/prod-2_320.png" alt="icecoffee"
                        width="180">
                    <span class="modal-buy__checkmark"></span>
                </label>
                <label class="modal-buy__label"> 
                    <input type="radio" name="radio">
                    <span>Milkshake</span>
                    <img class="modal-buy__img" srcset="./images/prod-3_320.png 1x, ./images/prod-3_320@2x.png 2x" src="./images/prod-3_320.png" alt="Milkshake"
                        width="180">

                    <span class="modal-buy__checkmark"></span>
                </label>

            </div>
            <button type="submit" class="modal-buy__btn button button--large button--accent">Submit</button>
        </form>
    </div>
