<div class="modal modal-franchise modal--hidden" data-modal-franchise>
    <button type="button" class="modal-franchise__close-button" data-modal-close data-content="franchise">
        <svg class="" width="14" height="14">
            <use href="images/icons.svg#close"></use>
        </svg>
    </button>
    <p class="modal-franchise__title">franchise direct</p>
    <p class="modal-franchise__text">log in to the client area</p>
    <p class="modal-franchise__second-text">Enter your details below</p>
    <form class="modal-franchise__form">
        <label for="email" class="modal-franchise__label">
            Email address
            <input type="email" name="email" class="modal-franchise__input" />
        </label>
        <label for="password" class="modal-franchise__label">
            Password
            <input type="password" name="password" class="modal-franchise__input" />
        </label>
        <button type="submit" class="modal-franchise__btn">Log in</button>
    </form>
</div>