<header class="page-header">
    <div class="container">
        <svg class="logo">
            <use href=""></use>
        </svg>
        <nav class="header__nav">
            <ul class="header__nav-list">
                <li class="header__nav-item"><a href="" class="header__nav-link">Home</a></li>
                <li class="header__nav-item"><a href="" class="header__nav-link">About us</a></li>
                <li class="header__nav-item"><a href="" class="header__nav-link">How it’s made?</a></li>
                <li class="header__nav-item"><a href="" class="header__nav-link">Our products</a></li>
                <li class="header__nav-item"><a href="" class="header__nav-link">Contact</a></li>
            </ul>
        </nav>
        <button class="button">
            <span class="">Buy now</span>
            <svg class="header__btn-arrow">
                <use herf=""></use>
            </svg>
        </button>
        <svg class="header__modal_menu">
            <use href=""></use>
        </svg>
    </div>
</header>
