<header class="page-header">
  <div class="container header__container">
    <a class="logo">
      <svg class="logo__svg">
        <use href=""></use>
      </svg>
    </a>
    <nav class="header__nav">
      <ul class="header__nav-list">
        <li class="header__nav-item"><a href="" class="header__nav-link">Home</a></li>
        <li class="header__nav-item"><a href="" class="header__nav-link">About us</a></li>
        <li class="header__nav-item"><a href="" class="header__nav-link">How it’s made?</a></li>
        <li class="header__nav-item"><a href="" class="header__nav-link">Our products</a></li>
        <li class="header__nav-item"><a href="" class="header__nav-link">Contact</a></li>
      </ul>
    </nav>
    <button class="button button--large button--main">
      Buy now
      <svg class="icon button__icon button__icon--append">
        <use herf=""></use>
      </svg>
    </button>
    <button class="header__modal-btn">
      <svg class="header__modal-svg">
        <use href=""></use>
      </svg>
    </button>
  </div>
</header>
