<header class="page-header">
  <div class="container header__container">
    <a class="logo">
      <svg class="logo__svg">
        <use href="./images/icons.svg#logo"></use></svg
      >ICECREAM
    </a>

    <button class="header__menu-btn">
      <svg class="header__menu-svg">
        <use href="./images/icons.svg#menu"></use>
      </svg>
    </button>
    <nav class="header__nav">
      <button class="header__mb-btn">
        <svg class="modal__close">
          <use href="./images/icons.svg#close"></use>
        </svg>
      </button>
      <button class="button button--large button--main header__btn-mb" data-modal-open>
        Buy now
        <svg class="icon button__icon button__icon--append">
          <use herf=""></use>
        </svg>
      </button>
      <ul class="header__nav-list">
        <li class="header__nav-item"><a href="" class="header__nav-link">Home</a></li>
        <li class="header__nav-item"><a href="" class="header__nav-link">About us</a></li>
        <li class="header__nav-item"><a href="" class="header__nav-link">How it’s made?</a></li>
        <li class="header__nav-item"><a href="" class="header__nav-link">Our products</a></li>
        <li class="header__nav-item"><a href="" class="header__nav-link">Contact</a></li>
      </ul>
    </nav>
  </div>
</header>
