<section class="section products" id="prod">
  <div class="container">
    <span class="section__label">100% natural</span>
    <h2 class="section__title">Products</h2>    
      <ul class="products-list">
        <li class="products-list__item products-list__item--b1">
          <h3 class="product-list__title products-list__title--a">ice cream</h3> 
          <p class="product-list__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>          
            <button type="button" class="products-list__btn button button--main" data-modal-open data-content="products--1">
              <svg class="products-list__icon icon">
                <use href="./images/icons.svg#arrow-right_1"></use>
              </svg>
            </button>          
        </li>
        <li class="products-list__item products-list__item--b2">
          <h3 class="product-list__title products-list__title--a">ice coffee</h3>
          <p class="product-list__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>          
            <button type="button" class="products-list__btn button button--main"  data-modal-open data-content="products--2">
              <svg class="products-list__icon icon">
                <use href="./images/icons.svg#arrow-right_1"></use>
              </svg>
            </button>         
        </li>
        <li class="products-list__item products-list__item--b3">
          <h3 class="product-list__title products-list__title--a">milkshakes</h3>
          <p class="product-list__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>          
            <button type="button" class="products-list__btn button button--main" data-modal-open data-content="products--3">
              <svg class="products-list__icon icon">
                <use href="./images/icons.svg#arrow-right_1"></use>
              </svg>
            </button>         
        </li>
      </ul>    
  </div>  
</section>
