<section class="section products" id="prod">
  <div class="container">
    <span class="section__label">100% natural</span>
    <h2 class="section__title">Products</h2>
    <ul class="products-list">
      <li class="products-list__item">
        <h3 class="product-list__title">ice cream</h3>
        <p class="product-list__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et
        </p>
      </li>
      <li class="products-list__item">
        <h3 class="product-list__title">ice coffee</h3>
        <p class="product-list__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et
        </p>
      </li>
      <li class="products-list__item">
        <h3 class="product-list__title">milkshakes</h3>
        <p class="product-list__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et
        </p>
      </li>
    </ul>
  </div>
</section>
