<section class="section products">
  <div class="container">
    <span class="section__label">100% natural</span>
    <h2 class="section__title">Products</h2>
    <div class="products-content">
      <ul class="products-list">
        <li class="products-list__item">
          <h3 class="product-list__title">ice cream</h3>
          <p class="product-list__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
          <button type="button" class="products-list__btn">
            <svg class="products-list__icon">
              <use href="./images/icons.svg#arrow-right_1"></use>
            </svg>
        </li>
        <li class="products-list__item">
          <h3 class="product-list__title">ice coffee</h3>
          <p class="product-list__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
          <button type="button" class="products-list__btn">
            <svg class="products-list__icon">
              <use href="./images/icons.svg#arrow-right_1"></use>
            </svg>
        </li>
        <li class="products-list__item">
          <h3 class="product-list__title">milkshakes</h3>
          <p class="product-list__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
          <button type="button" class="products-list__btn">
            <svg class="products-list__icon">
              <use href="./images/icons.svg#arrow-right_1"></use>
            </svg>
        </li>
      </ul>  
    </div>
  </div>  
</section>
