
<section class="section reviews">
  <div class="container">
  <h2 class="section__title visually-hidden"> Reviews </h2>  
  <div class="reviews__slider multiple-items">
    <div class="review__slide review">      
      <img
       srcset="./images/review-img-1.jpg 1x,
        ./images/review-img-1@x2.jpg 2x"
       class="review__img" src="./images/review-img-1.jpg" alt="Emily"/>  
      <div class="review__text-wrap">   
      <p class="review__text z1">         
        Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus. lore </p> 
      </div>      
      <ul class="review__dots">
      <li class="review__item--dots">&#8226;</li>
      <li class="review__item--dots">&#8226;</li>
      <li class="review__item--dots">&#8226;</li>
      </ul> 
       <h3 class="review__name">Emily, Los Angeles</h3>
     </div>
    <div class="review__slide review">
      <img
        srcset="./images/review-img-2.jpg 1x,
        ./images/review-img-2@x2.jpg 2x"
       class="review__img" src="./images/review-img-2.jpg" alt="Anna"/>  
      <div class="review__text-wrap">   
      <p class="review__text z1">         
       Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos vitae est iure incidunt necessitatibus labore hic in non molestias, laudantium possimus nisi? Neque aliquid nihil nulla voluptatem aut qui vel..</p> 
      </div> 
     
      <ul class="review__dots">
      <li class="review__item--dots">&#8226;</li>
      <li class="review__item--dots">&#8226;</li>
      <li class="review__item--dots">&#8226;</li>
      </ul> 
       <h3 class="review__name">Anna, Chikago</h3>
    </div>
    <div class="review__slide review">
      <img
        srcset="./images/review-img-3.jpg 1x,
        ./images/review-img-3@x2.jpg 2x"
       class="review__img" src="./images/review-img-3.jpg" alt="Jannet"/>  
      <div class="review__text-wrap">   
      <p class="review__text z1">      
       Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos vitae est iure incidunt necessitatibus labore hic in non molestias, laudantium possimus nisi? Neque aliquid nihil nulla voluptatem aut qui vel..
      </p> 
      </div>      
      <ul class="review__dots">
      <li class="review__item--dots">&#8226;</li>
      <li class="review__item--dots">&#8226;</li>
      <li class="review__item--dots">&#8226;</li>
      </ul> 
       <h3 class="review__name">Jannet, New York</h3>
    </div>
  </div>    
  </div>
</section>
