<section class="section reviews">
  <div class="container">
  <h2 class="section__title visually-hidden"> Reviews </h2>
  <img src="./images/demo.jpg" alt="Emily" width="85" height="85"/>
  <p class="reviews__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo iure ipsam dolore atque nesciunt odio ab a ducimus quibusdam necessitatibus delectus, aperiam odit eveniet recusandae quos? Voluptate aliquam expedita unde.</p>  
 <ul class="reviews__dots">
    <li class="reviews__item--dots">&#8226;    </li>
    <li class="reviews__item--dots">&#8226;    </li>
    <li class="reviews__item--dots">&#8226;    </li>
  </ul> 
  <h3 class="reviews__name">Emily, Los Angeles</h3>
  <ul class="reviews__ellipse">
    <li class="rewiews__item--ellipse"><button class="reviews__button" type="butto"></button></li>
    <li class="rewiews__item--ellipse"><button class="reviews__button" type="butto"></button></li>
    <li class="rewiews__item--ellipse"><button class="reviews__button" type="butto"></button></li>
  </ul>
  </div>

</section>
