.container {
    margin: 0 auto;
    padding: 0 15px;

    outline: solid 1px red;
    // outline: none;
    
    @media screen and (min-width: $small) {
        width: $small;
    }

    @media screen and (min-width: $medium) {
        width: $medium;
    }

    @media screen and (min-width: $large) {
        width: $large;
    }
}  