.modal {
  position: absolute;

  // стилі для модального вікна - галерея
  &--gallery {
    transform: scale(1);

    max-width: 80%;
    max-height: 80%;
    display: flex;

    transition: transform, opacity, visibility;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    .backdrop--is-hidden & {
      transform: scale(1.1);
    }

    .modal__content {
      object-fit: contain;
      object-position: center;
    }
  }

  &--hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}
