.section{
    padding: 60px 0;
}

.section__title {
    font-family: $titan-one;
    font-style: normal;
    font-weight: 400;
    font-size: 58px;
    line-height: 1.138;
    letter-spacing: 0.06em;

    text-align: center;
    text-transform: uppercase;
    
    color: $main-accent-color;
}