.about {
  background-color: $secondary-bg-color;
  .section__title {
    margin-bottom: 32px;
    @media screen and(min-width:$medium) {
      margin-bottom: 40px;
    }
    @media screen and(min-width:$large) {
      margin-bottom: 60px;
    }
  }
}

.section__label {
  margin-bottom: 15px;
}
@media screen and(min-width:$medium) {
  .about__content {
    display: flex;
    justify-content: center;
  }
}
.about__image {
  max-width: 280px;
  height: auto;
  @media screen and (max-width: 767px) {
    margin-bottom: 40px;
  }
  @media screen and (min-width: $medium) {
    max-width: 336px;
  }
}
.about__text {
  max-width: 220px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.62;
  color: $maint-text-color-dark;
  margin-bottom: 20px;
  &--black {
    margin-bottom: 30px;
  }
  &--gray {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.62;
    color: $secondary-text-color;
  }
  @media screen and (min-width: $medium) {
    max-width: 334px;
  }
  @media screen and (min-width: $large) {
    max-width: 463px;
  }
}
