.advantages {
  background-color: $secondary-bg-color;
}

.advantages__list {
  @media screen and(min-width:$medium) {
    display: flex;
    justify-content: flex-start;
  }
  @media screen and(min-width:$large) {
    display: flex;
    justify-content: space-between;
  }
}

.advantages__amount {
  font-family: $titan-one;
  color: $main-accent-color;
  font-size: 36px;
  line-height: calc(41 / 36);
  letter-spacing: 0.04em;
  text-transform: uppercase;

  margin-bottom: 25px;

  @media screen and(min-width:$medium) {
    font-size: 48px;
    line-height: calc(55 / 48);

    margin-bottom: 30px;
  }
  @media screen and(min-width:$large) {
    font-size: 58px;
    line-height: calc(66 / 58);
  }
}

.advantages__text {
  font-family: $dm-sans;
  color: $maint-text-color-dark;
  font-weight: 700;
  font-size: 12px;
  line-height: calc(20 / 12);

  @media screen and(min-width:$medium) {
    font-size: 14px;
    line-height: calc(24 / 14);
  }

  @media screen and(min-width:$large) {
    font-size: 16px;
    line-height: calc(28 / 16);
  }
}

.advantages__item {
  //   position: relative;

  margin-bottom: 32px;
  margin-right: 70px;
  &:last-child {
    margin-bottom: 0;
  }

  @media screen and(min-width:$medium) {
    max-width: 180px;
    margin: 0;
  }
  @media screen and(min-width:$large) {
    max-width: 317px;
  }
}

.advantages__item--1::before {
  display: inline-block;
  margin-bottom: 16px;
  content: '';
  width: 33px;
  height: 50px;
  background: url(..//images/advantage-img-1.png);
  @media only screen and (min-device-pixel-ratio: 2),
    only screen and (min-resolution: 192dpi),
    only screen and(min-resolution: 2dppx) {
    background-image: url(..//images/advantage-img-1@x2.png);
    background-size: contain;
  }
  @media screen and(min-width:$medium) {
    margin-bottom: 36px;
  }
  @media screen and(min-width:$large) {
    margin-bottom: 40px;
  }
}

.advantages__item--2::before {
  display: inline-block;
  content: '';
  width: 50px;
  height: 50px;

  margin-bottom: 16px;

  background: url(..//images/advantage-img-2.png);
  @media only screen and (min-device-pixel-ratio: 2),
    only screen and (min-resolution: 192dpi),
    only screen and(min-resolution: 2dppx) {
    background-image: url(..//images/advantage-img-2@x2.png);
    background-size: contain;
  }
  @media screen and(min-width:$medium) {
    margin-bottom: 36px;
  }
  @media screen and(min-width:$large) {
    margin-bottom: 40px;
  }
}

.advantages__item--3::before {
  display: inline-block;
  margin-bottom: 16px;
  content: '';
  width: 44px;
  height: 50px;
  background: url(..//images/advantage-img-3.png);
  @media only screen and (min-device-pixel-ratio: 2),
    only screen and (min-resolution: 192dpi),
    only screen and(min-resolution: 2dppx) {
    background-image: url(..//images/advantage-img-3@x2.png);
    background-size: contain;
  }
  @media screen and(min-width:$medium) {
    margin-bottom: 36px;
  }
  @media screen and(min-width:$large) {
    margin-bottom: 40px;
  }
}
