.hero {
    background: #FFB8CA;
    @media screen and (min-width:1200px) {
        
    }
   
   
}
.hero__container {
    overflow: visible;
    position: relative;
    padding-top: 194px;
    padding-bottom: 190px;
    background-image: url("/images/ice-cream_320.png");
    
        background-size: auto 90%;
        background-repeat: no-repeat;
        background-position: bottom right -80px;
    @media screen and (min-width:768px) {
        padding-top: 102px;
       
        padding-bottom: 190px;
        background-image: url("/images/ice-cream_768.png");
        background-position: bottom right 185px;
    }
    @media screen and (min-width:1200px) {
        background-image: url("/images/ice-cream_1200.png");
       
        background-position: bottom right 229px;
        padding-bottom: 84px;
        padding-top: 147px;
        padding-bottom: 316px;
        
    }
  
}
.hero__title {
    position: relative;
    z-index: 2;
    margin-bottom: 20px;
    font-family: 'Titan One';
    font-weight: 400;
    text-transform: uppercase;
    
    color: #FFFFFF;
   
    font-size: 26px;
    line-height: 30px;
    letter-spacing: 0.03em;
    @media screen and (min-width:768px) {
        font-size: 22px;
        line-height: 25px;
        letter-spacing: 0.04em;
    }
    @media screen and (min-width:1200px) {
    font-size: 38px;
    line-height: 44px;
    }
}
.hero-btn-list {
    display: flex;
    ;
    position: relative;
    z-index: 2;
    @media screen and (min-width:768px) {
         
    }
    @media screen and (min-width:1200px) {
      
    }
}
.hero-btn-list__item {
    margin-right: 8px;

}
.img-cafe-wrap {
    display: none;
    @media screen and (min-width:768px) {
        display: block;
    }
}
.cafe-list {
  
    @media screen and (max-width:767px){
        display: none;
    }
}
.hero__text {
    font-family: 'DM Sans';
    font-size: 8px;
    line-height: 150%;
    color: #FFFFFF;
    
   
}
.hero__wrap {
    display: none;
     position: absolute;
    width: 115px;
    left: 167px;
    bottom: 56px;
    @media screen and (min-width:768px) {
        display: block;
      
    }
    @media screen and (min-width:1200px ) {
        left:227px;
        bottom: 84px;
    }
}
.cafe-list {
    display: flex;
    flex-direction: column;
}
.cafe-list__item {
    display: flex;
    flex-direction: column;
}
.cafe-list__text {
    font-family: 'Titan One';
font-size: 28px;
line-height: 32px;
text-align: right;
    text-align: right;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #D41443;
    @media screen  and (min-width:1200px) {
        
        font-size: 46px;
        line-height: 1.15;
    }
}
.cafe-list__description {
        color: #FFFFFF;
        font-family: 'DM Sans';
        font-size: 8px;
        line-height: 10px;
        text-align: right;
    @media screen and (min-width:1200px) {
    font-size: 14px;
    line-height: 1.28;
    }
}
.hero__list-wrap {
    width: 100%;
    display: flex;
    justify-content: space-between;

}

.hero__img-wrap {
    display: none;
    position: absolute;

    @media screen and (min-width:768px) {
       display: flex;
       align-items: center;
       width: auto;
        width: 152px;
         left: 15px;
         bottom: 16px;
    }
    @media  screen and (min-width:1200px) {
        bottom: 16px;
        left: 15px;
        width: 213px;
        left: 15px;
        bottom: 60px;
    }
    }
.hero__img-wrap-2 {
    display: none;
    
   
@media screen and (min-width:768px) {
display: flex;
align-items: center;
width: auto;
    width: 190px;
    height: auto;
    position: absolute;
    bottom: 0px;
    right: 15px;
    z-index: 2;
}

@media screen and (min-width:1200px) {
width: 304px;
}
}
.hero__ice-wrap {
    position: absolute;
    left: 36px;
    bottom: 0px;
    z-index: 1;
    width : 346px;
    height: auto;
    @media  screen and (min-width:768px) {
        width: 335px;
        bottom: 0px;
        left: 248px;
    }
    @media screen and (min-width:1200px) {
        width: 534px;
        
        bottom: 0px;
        left: 500px;
        
        
    }

}