//@media screen and (min-width: $medium)
//@media screen and (min-width: $large)
.page-header {
  /* min-height: 94px;*/
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  left: 0;
  right: 0;

  outline: auto;
}
.header__container {
  display: flex;
  flex-wrap: wrap;
  padding-top: 8px;
  justify-content: space-between;
  align-items: center;

  @media screen and (min-width: $medium) {
    justify-content: flex-end;
    padding-top: 32px;
  }
  @media screen and (min-width: $large) {
    justify-content: space-between;
    padding-top: 37px;
  }
}
.modal__close {
  width: 14px;
  height: 14px;
  fill: currentColor;
}
.logo__svg {
  width: 50px;
  height: 50px;
  margin-right: 15px;
}
.logo {
  display: flex;
  align-items: center;

  font-family: 'Titan One';
  font-size: 24px;
  line-height: calc(39 / 24);
  letter-spacing: 0.04em;
  color: $main-accent-color;

  @media screen and (min-width: $medium) {
    margin-right: auto;
  }
  @media screen and (min-width: $large) {
    margin-right: 0;
  }
}
.header__nav {
  width: 250px;
  height: 502px;
  padding: 20px;
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(100%);
  transition: transform 250ms linear;

  color: $maint-text-color-light;
  background: $modal-bg-color;

  @media screen and (min-width: $medium) {
    height: 100vh;
    width: 254px;
  }
  @media screen and (min-width: $large) {
    visibility: visible;
    display: flex;
    position: static;
    height: auto;
    background: inherit;
    flex-wrap: nowrap;
    padding: 0;
    width: auto;
  }
}
.modal__close {
  position: absolute;
  right: 20px;
  top: 20px;

  fill: $main-bg-color;
}
.header__mb-btn {
  @media screen and (min-width: $large) {
    display: none;
  }
}

.header__menu-btn {
  width: 12px;
  height: 20px;
  background-color: transparent;

  //&:hover ~ .header__nav,
  //&:focus ~ .header__nav {
  //висит на ховере
  // visibility: visible;
  // transform: translateX(-100%);
  //}
  @media screen and (min-width: $medium) {
    margin-right: 24px;
  }
  @media screen and (min-width: $large) {
    display: none;
  }
}
.header__menu-svg {
  fill: $main-accent-color;
  height: 20px;
  width: 12px;
}
.header__btn-mb {
  margin-left: auto;
  margin-right: auto;
  margin-top: 26px;
  margin-bottom: 32px;
  @media screen and (min-width: $large) {
    display: none;
  }
}
.header__nav-list {
  @media screen and (min-width: $large) {
    display: flex;
  }
}
.header__nav-link {
  color: $main-bg-color;
  &:hover,
  &:focus {
    color: $main-accent-color;
  }
}
.header__nav-item {
  @media screen and (min-width: $large) {
    margin-bottom: 0;
  }
}
.header__nav-item:not(:last-child) {
  margin-bottom: 22px;
  @media screen and (min-width: $large) {
    margin-right: 35px;
    margin-bottom: 0;
  }
}

.header__btn-mb2 {
  display: none;
  @media screen and (min-width: $medium) {
    display: block;
  }
}
.over {
    position: absolute;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba($color: #000000, $alpha: 0.2);
  }
  .header__nav {
    transform: translateX(0);
}
.over.is-hidden0 {
  display: none;
    @media screen and (min-width: $large) {
    position: static;
    display: block;
    width: auto;
    height: auto;
    background-color: transparent;
  }
}
