.reviews{
  background-color: $main-bg-color;
}
.review__img{        
  width: 85px;
  height: 85px;
  border-radius: 50%;
  margin: auto;   
  margin-bottom: 32px; 
  @media screen and (min-width: $medium) {
      margin-bottom: 20px;
  }
  @media screen and (min-width: $large) {
      margin-bottom: 16px;
  }
}  
.review-slide{
  @media screen and (min-width: $medium) {        
      padding-left: 59px;
      padding-right: 59px; 
  } 
  @media screen and (min-width: $large) {
      padding-left: 108px;
      padding-right: 108px; 
  }     
} 
.review__text-wrap{
  position: relative; 
  width: 100%;
  height: auto;
  text-align: center;
  background-color: #FAFAFA;
  padding: 30px 50px 17px 50px ;
  margin-bottom: 16px;
  z-index: 410;
  @media screen and (min-width: $medium) {        
      margin-bottom: 4px;
      padding: 37px 0px 44px 0px ;  
      background-color: rgba(250, 250, 250,0.4);            
  }
  @media screen and (min-width: $large) {
      margin-bottom: 16px;
      padding: 32px 105px 32px 105px ;  
      background-color: #FAFAFA;
  }
}

.review__text{       
 color:$maint-text-color-dark; 
 text-indent: 20px;
 line-height: 2.58;    
 background-image: -webkit-repeating-linear-gradient(top, transparent 0px, transparent 28px, #E1E1E1 30px, transparent 20px);
 background-image: -moz-repeating-linear-gradient(top, transparent 0px, transparent 28px, #E1E1E1 30px, transparent 20px);
 background-image: -ms-repeating-linear-gradient(top, transparent 0px, transparent 28px, #E1E1E1 30px, transparent 20px);
 background-image: -o-repeating-linear-gradient(top, transparent 0px, transparent 28px, #E1E1E1 30px, transparent 20px);
 background-image: repeating-linear-gradient(top, transparent 0px, transparent 28px, #E1E1E1 30px, transparent 20px);  
 @media screen and (min-width: $medium) {       
      text-indent: 35px;          
      line-height: 2.21;        
  }
  @media screen and (min-width: $large) {        
      text-indent: 20px; 
      line-height: 1.86;         
                                   
  } 
 &::before{
      content: "";
      position: absolute;     
      top: 20px;
      left: 53px; 
      z-index: 400;
  @media screen and (min-width: $medium) {        
      top: 20px;
      left: 6px;
  } 
  @media screen and (min-width: $large) {
      top: 20px;
      left:105px;
  }      
}     
}

.review__text.z1::before{
  content: "";
  background-image: url("../images/review-quots.svg");
  display: inline-block;       
  width: 54px;
  height: 40px;
  z-index:-100;
}
.reviews__dots{
  display: flex;
  justify-content: center;
  align-items: center;
}
.reviews__dots{
  margin-bottom: 16px;  
}
.reviews__item--dots{
  color: $main-accent-color-darker; 
  font-size: 16px;      
}
.review__item--dots + .review__item--dots{
 margin-left: 10px; 
}
.review__name{
  line-height: 1.86;
  text-align: center;
  @media screen and (min-width: $medium) {        
    font-size: 16px;
    line-height: 1.87;
  }
  @media screen and (min-width: $large) {
      font-size: 20px;
      line-height: 1.85;
  }       
}
.review__dots{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;  
}
.review__item--dots{
  color: $main-accent-color-darker; 
  font-size: 16px;  
 & + &{
 margin-left: 10px; 
}     
}

@function str-replace($string, $search, $replace: '') {
  $index: str-index($string, $search);
  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace +
      str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }
  @return $string;
}
.slick-dots li {
  margin: 0 5px;

  button:before {
    font-size: 0;
    opacity: 1;
    color: #d9d9d9;
    width: 12px;
    height: 12px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: currentColor;
  }

  button:hover,
  button:focus {
    &:before {
      opacity: 0.75;
      color: $main-accent-color;
    }
  }

  &:first-child {
    button {
      &:before {
        $color: #d9d9d9;

        background: none;
        background-image: url("data:image/svg+xml,%3Csvg width='13' height='12' viewBox='0 0 13 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.2399 5.77539C12.4646 5.53163 12.4429 5.15801 12.1914 4.94111L6.65187 0.159738C6.40043 -0.0571627 5.99731 -0.052619 5.75117 0.169981L0.19278 5.19603C-0.053367 5.41863 -0.065448 5.79177 0.166032 6.02912L0.305389 6.17228C0.536586 6.40963 0.910291 6.43793 1.13955 6.2353L1.55495 5.86834V11.2407C1.55495 11.5703 1.82571 11.8372 2.15961 11.8372H4.32629C4.66019 11.8372 4.93095 11.5703 4.93095 11.2407V7.48221H7.69456V11.2407C7.68976 11.5701 7.92867 11.8369 8.26258 11.8369H10.5587C10.8926 11.8369 11.1634 11.5701 11.1634 11.2405V5.94398C11.1634 5.94398 11.2781 6.04315 11.4197 6.16587C11.561 6.28835 11.8577 6.19014 12.0824 5.94614L12.2399 5.77539Z' fill='" + #{str-replace(#{$color}, '#', '%23')} + "'/%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
      }

      &:hover,
      &:focus {
        &::before {
          $color: $main-accent-color;
          background-image: url("data:image/svg+xml,%3Csvg width='13' height='12' viewBox='0 0 13 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.2399 5.77539C12.4646 5.53163 12.4429 5.15801 12.1914 4.94111L6.65187 0.159738C6.40043 -0.0571627 5.99731 -0.052619 5.75117 0.169981L0.19278 5.19603C-0.053367 5.41863 -0.065448 5.79177 0.166032 6.02912L0.305389 6.17228C0.536586 6.40963 0.910291 6.43793 1.13955 6.2353L1.55495 5.86834V11.2407C1.55495 11.5703 1.82571 11.8372 2.15961 11.8372H4.32629C4.66019 11.8372 4.93095 11.5703 4.93095 11.2407V7.48221H7.69456V11.2407C7.68976 11.5701 7.92867 11.8369 8.26258 11.8369H10.5587C10.8926 11.8369 11.1634 11.5701 11.1634 11.2405V5.94398C11.1634 5.94398 11.2781 6.04315 11.4197 6.16587C11.561 6.28835 11.8577 6.19014 12.0824 5.94614L12.2399 5.77539Z' fill='" + #{str-replace(#{$color}, '#', '%23')} + "'/%3E%3C/svg%3E%0A");
        }
      }
    }
  }

  &.slick-active {
    button:before {
      opacity: 1;
      color: $main-accent-color;
    }

    &:first-child button:before {
      $color: $main-accent-color;
      background-image: url("data:image/svg+xml,%3Csvg width='13' height='12' viewBox='0 0 13 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.2399 5.77539C12.4646 5.53163 12.4429 5.15801 12.1914 4.94111L6.65187 0.159738C6.40043 -0.0571627 5.99731 -0.052619 5.75117 0.169981L0.19278 5.19603C-0.053367 5.41863 -0.065448 5.79177 0.166032 6.02912L0.305389 6.17228C0.536586 6.40963 0.910291 6.43793 1.13955 6.2353L1.55495 5.86834V11.2407C1.55495 11.5703 1.82571 11.8372 2.15961 11.8372H4.32629C4.66019 11.8372 4.93095 11.5703 4.93095 11.2407V7.48221H7.69456V11.2407C7.68976 11.5701 7.92867 11.8369 8.26258 11.8369H10.5587C10.8926 11.8369 11.1634 11.5701 11.1634 11.2405V5.94398C11.1634 5.94398 11.2781 6.04315 11.4197 6.16587C11.561 6.28835 11.8577 6.19014 12.0824 5.94614L12.2399 5.77539Z' fill='" + #{str-replace(#{$color}, '#', '%23')} + "'/%3E%3C/svg%3E%0A");
    }
  }

  &:not(:first-child) {
    button {
      &:before {
        border-radius: 50%;
      }
    }
  }
}
.slick-slider .slick-track,
.slick-slider .slick-list {
  margin-bottom: 16px;
  @media screen and (min-width: $medium) {
    margin-bottom: 32px;
  }
}